@{
    ViewData["Title"] = "Home Page";
}

@model List<Productos>

<div class="text-center">
    <h1 class="display-4">Productos</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 
<ul>
 @foreach (var producto in Model)
 {
 <li>@producto.IdProducto</li>
 <li>@producto.Descripcion</li>
 <li>@producto.Precio</li>
 }
 </ul